{{yield}}
<article class="product">
  <div class="details">
    <h3>{{@product.title}}</h3>
    <div class="detail owner">
      <span>Description:</span> {{@product.description}}
    </div>
    <div class="detail price">
      <span>Price:</span> {{@product.price}}
    </div>
  </div>
</article>